<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="stg,prd">
        <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="org.springframework.cloud.gcp.logging.StackdriverJsonLayout">
                    <projectId>leogaray.hiring</projectId>
                    <serviceContext>
                        <service>hiring</service>
                        <version>0.0.1</version>
                    </serviceContext>
                </layout>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
